{% extends "KutnyAdminBundle::layout.html.twig" %}

{% block headAssets %}
	<script type="text/javascript" src="{{ asset('bundles/kutnyadmin/js/PractisingController.js') }}"></script>
{% endblock %}

{% block title %}Practising{% endblock %}
{% block content %}
	<div class="jumbotron" ng-controller="PractisingController">
		<div class="row">
			<div class="col-lg-6">
				<h2>[[ englishVocabulary ]]</h2>

				<blockquote>
					<small>[[ explanation ]]</small>
				</blockquote>

				<div>
					<button class="btn btn-default" type="button" ng-disabled="sendingRequest" ng-hide="!note || noteShown" ng-click="showHint()">Show hint</button>
					<p ng-show="noteShown">
						<small>[[ note ]]</small>
					</p>
					<button class="btn btn-default" type="button" ng-disabled="sendingRequest" ng-click="showTranslation()" ng-hide="userTranslationShown">Show translation</button>
					<p ng-show="userTranslationShown">
						<small>Correct: [[ userTranslation ]]</small>
					</p>
				</div>
			</div>
		</div>
		<div class="row" ng-show="userTranslationShown">
			<div class="col-lg-6">
				<form>
					<input type="hidden" ng-model="userVocabularyId" />
					<div>
						Know?
						<button class="btn btn btn-warning" type="button" ng-disabled="sendingRequest" ng-click="nextVocabulary(false)">No</button>
						<button class="btn btn-success" type="button" ng-disabled="sendingRequest" ng-click="nextVocabulary(true)">Yes</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
